main [data-testid="sidebarColumn"] {
  visibility: hidden;
  width: 1px;
}

main [data-testid="primaryColumn"] {
  width: 100%;
  max-width: none;
}

header [data-testid="AppTabBar_Explore_Link"],
header [aria-label="ブックマーク"],
header [aria-label="リスト"],
header [data-testid="AppTabBar_Profile_Link"],
header [data-testid="AppTabBar_More_Menu"],
header [data-testid="SideNav_NewTweet_Button"],
header [data-testid="SideNav_AccountSwitcher_Button"] {
  visibility: hidden;
}

.r-1ye8kvj {
  max-width: none !important;
}